<p-toast></p-toast>
<div class="min-h-screen bg-gray-100 contenedor p-6">
  <p-card styleClass="w-full max-w-7xl m-3">
    <ng-template pTemplate="header">
      <div class="text-center py-5">
        <h2 class="text-3xl font-bold m-0">Crear Cuenta</h2>
        <p class="text-600 mt-2">Únete a nuestra comunidad</p>
      </div>
    </ng-template>

    <p-button
      styleClass="w-full p-button-outlined mb-3"
      icon="pi pi-google"
      label="Continuar con Google"
      (onClick)="signInWithGoogle()"
    ></p-button>

    <p-divider align="center" type="solid">
      <span class="text-600">O continúa con</span>
    </p-divider>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="mt-5">
      <div class="grid formgrid p-fluid">
        <div class="col-12 mb-6">
          <div class="flex gap-3">
            <span class="p-float-label flex-1">
              <input
                pInputText
                id="firstName"
                formControlName="firstName"
                class="w-full"
              />
              <label for="firstName">Nombre</label>
            </span>
            <span class="p-float-label flex-1">
              <input
                pInputText
                id="lastName"
                formControlName="lastName"
                class="w-full"
              />
              <label for="lastName">Apellido</label>
            </span>
          </div>
          <small
            class="p-error"
            *ngIf="
              registrationForm.get('firstName')?.invalid &&
              registrationForm.get('firstName')?.touched
            "
          >
            El nombre es requerido
          </small>
        </div>

        <div class="col-12 mb-6">
          <div class="flex gap-3">
            <span class="p-float-label flex-1">
              <input
                pInputText
                id="email"
                formControlName="email"
                class="w-full"
              />
              <label for="email">Correo Electrónico</label>
            </span>
            <span class="p-float-label flex-1">
              <p-password
                id="password"
                formControlName="password"
                [toggleMask]="true"
                styleClass="w-full"
              ></p-password>
              <label for="password">Contraseña</label>
            </span>
          </div>
        </div>

        <div class="col-12 mb-6">
          <div class="flex gap-3">
            <span class="p-float-label flex-1">
              <p-inputMask
                id="phone"
                formControlName="phone"
                mask="(999) 999-9999"
                styleClass="w-full"
              ></p-inputMask>
              <label for="phone">Teléfono</label>
            </span>
            <span class="p-float-label flex-1">
              <input
                pInputText
                id="address"
                formControlName="address"
                class="w-full"
              />
              <label for="address">Dirección</label>
            </span>
          </div>
        </div>

        <div class="col-12 mb-4">
          <div class="flex gap-3">
            <span class="p-float-label flex-1">
              <p-calendar
                id="birthDate"
                formControlName="birthDate"
                [showIcon]="true"
                styleClass="w-full"
              ></p-calendar>
              <label for="birthDate">Fecha de Nacimiento</label>
            </span>
            <span class="p-float-label flex-1">
              <p-dropdown
                id="nivel"
                formControlName="nivel"
                [options]="nivel"
                optionLabel="name"
                optionValue="value"
                styleClass="w-full"
              ></p-dropdown>
              <label for="nivel">Nivel Academico</label>
            </span>
          </div>
        </div>

        <div class="col-12 mb-6">
          <div class="flex gap-3">
            <span class="p-float-label flex-1">
              <p-dropdown
                id="institucion"
                formControlName="institucion"
                [options]="institucionesDisponibles"
                optionLabel="nombre"
                [filter]="true"
                filterBy="nombre"
                placeholder="Seleccione institución"
                styleClass="w-full"
              ></p-dropdown>
              <label for="institucion">Institución</label>
            </span>
            <span class="p-float-label flex-1">
              <p-dropdown
                id="sede"
                formControlName="sede"
                [options]="sedesDisponibles"
                optionLabel="nombre"
                [filter]="true"
                filterBy="nombre"
                placeholder="Seleccione sede"
                styleClass="w-full"
                [disabled]="!sedesDisponibles.length"
              ></p-dropdown>
              <label for="sede">Sede</label>
            </span>
          </div>
        </div>

        <div
          class="mb-6"
          *ngIf="registrationForm.get('nivel')?.value === 'universitario'"
        >
          <span class="p-float-label">
            <p-dropdown
              formControlName="semestre"
              [options]="semestres"
              optionLabel="label"
              optionValue="value"
              placeholder="Seleccione semestre"
            >
            </p-dropdown>
            <label>Semestre</label>
          </span>
        </div>

        <!-- Para primaria y secundaria -->
        <div
          class="mb-6"
          *ngIf="
            ['primaria', 'bachiller'].includes(
              registrationForm.get('nivel')?.value
            )
          "
        >
          <span class="p-float-label">
            <p-dropdown
              formControlName="grado"
              [options]="grados"
              optionLabel="label"
              optionValue="value"
              placeholder="Seleccione grado"
            >
            </p-dropdown>
            <label>Grado</label>
          </span>
        </div>

        <div
          class="col-12 mb-6"
          *ngIf="registrationForm.get('nivel')?.value === 'universitario'"
        >
          <div class="flex gap-3">
            <span class="p-float-label flex-1">
              <p-dropdown
                id="carrera"
                formControlName="carrera"
                [options]="carrerasDisponibles"
                optionLabel="nombre"
                [filter]="true"
                filterBy="nombre"
                placeholder="Seleccione carrera"
                styleClass="w-full"
                [disabled]="!carrerasDisponibles.length"
              ></p-dropdown>
              <label for="carrera">Carrera</label>
            </span>
          </div>
        </div>

        <div class="col-12 field-checkbox mb-4">
          <p-checkbox
            formControlName="terms"
            [binary]="true"
            id="terms"
          ></p-checkbox>
          <label for="terms" class="ml-2"
            >Acepto los Términos y Condiciones</label
          >
          <small
            class="p-error block"
            *ngIf="
              registrationForm.get('terms')?.invalid &&
              registrationForm.get('terms')?.touched
            "
          >
            Debes aceptar los términos
          </small>
        </div>

        <div class="col-12">
          <p-button
            type="submit"
            label="Crear Cuenta"
            styleClass="w-full"
            [disabled]="!registrationForm.valid"
          ></p-button>
        </div>
      </div>
    </form>
  </p-card>
</div>
