:host ::ng-deep {
  .menu-toggle {
    position: fixed;
    top: 5.3rem;
    z-index: 1001;
    cursor: pointer;
    padding: 0.3rem;
    display: flex;
    align-items: start;
    justify-content: start;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
  }

  .p-menu {
    background-color: #1e293b !important;
    border: none !important;
    border-radius: 0px !important;
    width: 18rem !important;

    @media (min-width: 1536px) {
      // breakpoint 2xl
      height: calc(100vh - 81px) !important;
    }

    // Elementos base
    ul,
    li {
      background-color: #1e293b !important;
    }

    // Estados hover y active
    .p-menuitem:not(.p-highlight):not(.p-disabled) {
      > .p-menuitem-content:hover,
      > .p-menuitem-link:hover {
        background-color: #131b27 !important;
        i {
          color: #ffffff !important;
        }
      }
    }

    .p-menuitem-content {
      background: #1e293b !important;
    }

    // Estados router-link-active
    .router-link-active {
      background-color: #0f172a !important;
      i {
        color: #1e293b !important;
      }
    }

    // Iconos
    i {
      color: #f8f9fa !important;
      transition: color 0.3s ease !important;
    }

    .pi-chevron-down {
      color: #f8f9fa !important;
    }

    // Submenú
    .submenu {
      li {
        a.router-link-active {
          background-color: #0f172a !important;
          i {
            color: #1e293b !important;
          }
        }

        a:not(.router-link-active):hover {
          background-color: #2d3b4e !important;
          i {
            color: #1e293b !important;
          }
        }
      }
    }
  }

  // .p-scrollpanel {
  //   @media (min-width: 1536px) {
  //     height: calc(100vh - 81px) !important;
  //   }
  // }

  // .p-scrollpanel-bar-y {
  //   width: 4px !important;
  //   right: -246px !important;
  // }
}
